name: Build Portable EXE

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    
    steps:
    - uses: actions/checkout@v4

    - name: Setup Bun
      uses: oven-sh/setup-bun@v1
      with:
        bun-version: latest

    - name: Install Rust
      uses: dtolnay/rust-toolchain@stable
      with:
        targets: x86_64-pc-windows-msvc

    - name: Rust Cache
      uses: swatinem/rust-cache@v2
      with:
        workspaces: src-tauri

    - name: Install dependencies
      run: bun install

    - name: Build
      run: bun tauri build

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: dynres-portable
        path: src-tauri/target/release/dynres.exe
        if-no-files-found: error
